* {
	margin: 0;
}
html, body {
	height: 100%;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -76px;
}

.footer, .push {
	height: 56px;
	width: 60%;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.col-md-12.col-sm-12.col-xs-12 {
	margin-top: 40px;
}

.thumbnail:hover .share-addto-cart {
	opacity: 1;
	filter: alpha(opacity=100);
	height:100%;
	line-height: 30px;
	width: 60px;
	font-size: 12px;
}
	
.share-addto-cart {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	top: 8px;
	right: 0;
	height: 0;
	line-height: 8px;
	width: 0;position: absolute;
	display: inline-block;
	text-align: center;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 0;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	margin: 5px 20px 0px 0px;
}

.thumbnail:hover {
	border-color: #e0e0e0;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.thumbnail {
	border-color: transparent;
	border-radius: 0;
	overflow:hidden
}

.thumbnail .caption.caption-cust {
	text-align:center;
}

.width-100 {
	max-width: 100%;
}

.glyphicon.glyphicon-changeview{
/* 	font-size: 3.5em; */
	font-weight: 100;
}

img{
	height: 450px;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.tooltip.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}